<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sakthi Group</title>

    <!-- Custom fonts for this template-->
    <!-- <link href="css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <!-- <link href="css/css/sb-admin-2.min.css" rel="stylesheet"> -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                
                <div class="sidebar-brand-text mx-3">Sakthi Group</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span></span></a>
            </li> -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
           
            <div ngbDropdown class="nav-item">
                
                <a ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Drawing</span>
                </a>
               
                <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                   
                  <a ngbDropdownItem>Action</a>
                  <a ngbDropdownItem>Another Action</a>
                  <a ngbDropdownItem>Something else here</a>
                </div>
              </div>

              <div ngbDropdown class="nav-item">
                
                <a ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>DataEntry</span>
                </a>
               
                <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                   
                  <a ngbDropdownItem>Action</a>
                  <a ngbDropdownItem>Another Action</a>
                  <a ngbDropdownItem>Something else here</a>
                </div>
              </div>
   
   

           


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Alternate
                
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <div ngbDropdown class="nav-item">
                
                <a ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Insert Spec</span>
                </a>
               
                <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                   
                  <a ngbDropdownItem>Action</a>
                  <a ngbDropdownItem>Another Action</a>
                  <a ngbDropdownItem>Something else here</a>
                </div>
              </div>

              <div ngbDropdown class="nav-item">
                
                <a ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Files</span>
                </a>
               
                <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                   
                  <a ngbDropdownItem>Import file</a>
                  <a ngbDropdownItem>Update file</a>
                 
                </div>
              </div>
   

              

            <!-- Nav Item - Tables -->
            <div ngbDropdown class="nav-item">
                
                <a ngbDropdownToggle class="nav-link collapsed" id="dropdownMenu" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Upload Excel</span>
                </a>
               
                <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                   
                  <a ngbDropdownItem>Action</a>
                  <a ngbDropdownItem>Another Action</a>
                  <a ngbDropdownItem>Something else here</a>
                </div>
              </div>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

           

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Username</span>
                                <img class="img-profile rounded-circle"
                                    src="/assets/img/images.png">
                            </a>
                            
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Update File</h1>
                        
                    </div>

                    
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Enter Drawing Number</h6>
                                    <br>
                                    <div>
                                        <!-- Topbar Search -->
                                      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                          <div class="input-group">
                                               <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."  aria-label="Search" aria-describedby="basic-addon2">
                                               <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button">
                                                        <i class="fas fa-search fa-sm"></i>
                                                    </button>
                                                </div>
                                            </div>
                                       </form>
                                       
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <form>
                                        <div class="form-group">
                                          <label for="exampleInputPassword1">Part Name</label>
                                          <select id="exampleInputPassword1" class="form-control" >
                                            <option value="">Select the Part Name</option>
                                            <option value="1P  DN100RB CL150 BODY">1P  DN100RB CL150 BODY</option>
                                            <option value="1P DN 100 RB CL 300 BODY ">1P DN 100 RB CL 300 BODY </option>
                                            <option value="1P DN 80 RB CL 150 BODY">1P DN 80 RB CL 150 BODY</option>
                                            <option value="1P DN 80 RB CL 300 BODY">1P DN 80 RB CL 300 BODY</option>
                                            <option value="1P DN150RB CL150 BODY">1P DN150RB CL150 BODY</option>
                                            <option value="1P DN150RB CL300 BODY">1P DN150RB CL300 BODY</option>
                                            <option value="1P DN15FB CL150 BODY">1P DN15FB CL150 BODY</option>
                                            <option value="1P DN15FB CL300 BODY">1P DN15FB CL300 BODY</option>
                                            <option value="1P DN20RB CL150 BODY">1P DN20RB CL150 BODY</option>
                                            <option value="1P DN20RB CL300 BODY">1P DN20RB CL300 BODY</option>
                                            <option value="1P DN40RB CL300 BODY">1P DN40RB CL300 BODY</option>
                                            <option value="1P DN50FB CL300 BODY">1P DN50FB CL300 BODY</option>
                                            <option value="1P DN50RB CL150 BODY">1P DN50RB CL150 BODY</option>
                                            <option value="1P DN65RB CL150 BODY"> 1P DN65RB CL150 BODY</option>
                                            <option value="1P DN65RB CL300 BODY"> 1P DN65RB CL300 BODY</option>
                                            <option value="1PDN25RB CL150 BODY">1PDN25RB CL150 BODY</option>
                                            <option value="1PDN25RB CL300 BODY">1PDN25RB CL300 BODY</option>
                                            <option value="1PDN40RB CL150 BODY">1PDN40RB CL150 BODY</option>
                                            <option value="2P DN 15 FB CL150 CONNECTOR"> 2P DN 15 FB CL150 CONNECTOR</option>
                                            <option value="2P DN15FB CL150 BODY ">2P DN15FB CL150 BODY </option>
                                            <option value="2P DN20FB  CL300 BODY">2P DN20FB  CL300 BODY</option>
                                            <option value="2P DN20FB CL150 BODY">2P DN20FB CL150 BODY</option>
                                            <option value="2P DN20FB CLASS 300 CONNECTOR">2P DN20FB CLASS 300 CONNECTOR</option>
                                            <option value="2P DN25FB CL150 BODY">2P DN25FB CL150 BODY</option>
                                            <option value="2P DN25FB CL150 CONNECTOR">2P DN25FB CL150 CONNECTOR</option>
                                            <option value="2P DN25FB CL300 BODY">2P DN25FB CL300 BODY</option>
                                            <option value="2P DN25FB CL300 CONNECTOR">2P DN25FB CL300 CONNECTOR</option>
                                            <option value="2PDN15FB CL300 BODY ">2PDN15FB CL300 BODY </option>
                                            <option value="2PDN15FB CL300 CONNECTOR">2PDN15FB CL300 CONNECTOR</option>
                                            <option value="2PDN20FB CL150 CONNECTOR">2PDN20FB CL150 CONNECTOR</option>
                                                                                   
                                            <option value="">None</option>
                                          </select>
                                          
                                        </div>
                                        <div class="form-group"> 
                                          <label for="exampleInputPassword1">Material</label>
                                          <select id="exampleInputPassword1" class="form-control" >
                                            <option value="">Select the Material</option>
                                            <option value="CF8M">CF8M</option>
                                            <option value="CF8M SAND">CF8M SAND</option>
                                            <option value="">None</option>
                                          </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Sequence Name</label>
                                            <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select the Sequence</option>
                                                <option value="BORE FINISHING">BORE FINISHING</option>
                                                <option value="OD FINISHING">OD FINISHING</option>
                                                <option value="OD ROUGHING">OD ROUGHING</option>
                                                <option value="THREADING">THREADING</option>
                                                <option value="">None</option>
                                            </select>
                                          </div>

                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Operation</label>
                                            <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select the Operation</option>
                                                <option value="N2">N2</option>
                                                <option value="N3">N3</option>
                                                <option value="N4">N4</option>
                                                <option value="N5">N5</option>
                                                <option value="N7">N7</option>
                                                <option value="N8">N8</option>
                                                <option value="">None</option>
                                              </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Bar</label>
                                            <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select the Options</option>
                                                <option value="ECLNR 2525-M12 ">ECLNR 2525-M12 </option>
                                                <option value=" ETJNR 2525-M12"> ETJNR 2525-M12</option>
                                               
                                                
                                                <option value="">None</option>
                                              </select>
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1">InsertSpec</label>
                                            
                                            <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select the Options</option>
                                                <option value="CCMT 09T308 HQ PR1125">CCMT 09T308 HQ PR1125</option>
                                                <option value="CNMG120408-M3 35MT">CNMG120408-M3 35MT</option>
                                                <option value="TNMG 160404 BM FQQ (2319)7125">TNMG 160404 BM FQQ (2319)7125</option>
                                                
                                                <option value="">None</option>
                                              </select>
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Number of Edge</label>
                                            <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select Number of Edge</option>
                                                <option value="2">2</option>
                                                <option value="4">4</option>
                                                <option value="6">6</option>
                                                
                                                <option value="">None</option>
                                              </select>
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Edge Life</label>
                                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter the edge life">
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Make</label>
                                            <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select the Options</option>
                                                <option value="Q & Q">Q & Q</option>
                                                <option value="SECCO">SECCO</option>
                                                <option value="KYOCERA">KYOCERA</option>
                                                
                                                <option value="">None</option>
                                              </select>
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Supplier</label>
                                            <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select the Supplier</option>
                                                <option value="Q&Q SOLUTIONS">Q&Q SOLUTIONS</option>
                                                <option value="SRI MAHAGANAPATHY MARKETING">SRI MAHAGANAPATHY MARKETING</option>
                                                <option value="M.K. TOOLING">M.K. TOOLING</option>
                                                
                                                <option value="">None</option>
                                              </select>
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Rate</label>
                                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter the Rate">
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1">Insert Life (Must be in number)</label>
                                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter Insert Life">
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1" >Enter Alternative Insert </label>
                                                                                       
                                            <select id="exampleInputPassword1" class="form-control" >
                                                <option value="">Select the Insert</option>
                                                <option value="16 IR AG 60 AH725">16 IR AG 60 AH725</option>
                                                <option value="CCMT 09T304 PS T9125">CCMT 09T304 PS T9125</option>
                                                <option value="CCMT 09T308 TS 9125">CCMT 09T308 TS 9125</option>
                                                <option value="CNMG 120404N-GU A1464">CNMG 120404N-GU A1464</option>
                                                <option value="CNMG 120408 8125">CNMG 120408 8125</option>
                                                <option value="CNMG 120408 MS PR1125">CNMG 120408 MS PR1125</option>
                                                <option value="CNMG 120412 1464">CNMG 120412 1464</option>
                                                <option value="TNMG 160404 BM FQQ (2319)7125">TNMG 160404 BM FQQ (2319)7125</option>
                                                <option value="">None</option>
                                              </select>
                                            
                                          </div>

                                          <div class="form-group">
                                            <label for="exampleInputPassword1" >No of Edge for Alternative Insert  (Must not be greater than 6)</label>
                                            <input type="number" min="1" max="6" class="form-control" id="exampleInputPassword1" placeholder="Enter the number of edge">
                                            
                                          </div>

                                          
                                      
                                          
                        
                                        <button type="submit" class="btn btn-primary">Update</button>
                                      
                              
                               
                           
                        

                     
                <!-- /.container-fluid -->

            <!-- End of Main Content -->


     
        <!-- End of Content Wrapper -->

    
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    

    

    <!-- Bootstrap core JavaScript-->
    <script src="css/vendor/jquery/jquery.min.js"></script>
    <script src="css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="css/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="css/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="css/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="css/js/demo/chart-area-demo.js"></script> -->
    <script src="css/js/demo/chart-pie-demo.js"></script> -->



